<html>
  <head>
    <script type="text/javascript" src="public/scripts/render_home.js"></script>
  </head>
  <body>
    <canvas id="canvas" width="500" height="500"></div>
    <script>
      renderImage('https://mdn.mozillademos.org/files/5397/rhino.jpg');
    </script>
  </body>
</html>
