<html>
  <head>
    <title>Guess What</title>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="public/scripts/render_game.js"></script>
  </head>
  <body>

    <div id="pregame" class="wrapper fadeInDown">
      <form id="pseudo">
        <input type="text" class="fadeIn second" value="Choose your pseudo!" id="pseudonyme"/>
        <input type="submit" class="fadeIn third" value="Submit!"/>
      </form>
      <script src="socket.io/socket.io.js"></script>
      <script>
        var form = document.getElementById('pseudo');
        form.addEventListener('submit', function(e) {
          e.preventDefault();
          let pseudo = document.getElementById('pseudonyme').value;
          const socket = io();

          socket.emit('ask pseudo', pseudo);
          socket.on('pseudo validation', new_pseudo => {
            window.sessionStorage.pseudo = new_pseudo;
            const url = window.location.href + 'game';
            window.location.href = url;
            window.location.replace(url);
          });
        });
      </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
