<html>
  <head>
    <script type="text/javascript" src="public/scripts/render_home.js"></script>
  </head>
  <body>
    <div id="game">
      <canvas id="canvas"></canvas>
      <script>
        var path_image = '/public/images/god.jpg'
        var iteration = 1;
        renderHome(path_image, iteration);

        var interval = window.setInterval(function (){
          iteration += 1;
          renderHome(path_image, iteration);
        }, 2000);
      </script>
    </div>
  </body>
</html>
