<html>
  <head>
    <title>Guess What</title>
    <script type="text/javascript" src="public/scripts/render_home.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>

  <body>
    <div id="pregame" class="wrapper fadeInDown">
      <form id="pseudo">
        <input type="text" class="fadeIn second" value="Choose your pseudo!" id="pseudonyme"/>
        <input type="submit" class="fadeIn third" value="Submit!"/>
      </form>
      <script>
        var form = document.getElementById('pseudo');
        form.addEventListener('submit', function(e) {
            window.sessionStorage.pseudo = document.getElementById('pseudonyme').value;
            e.preventDefault();
            document.location.reload(true);

            // TODO: authorize only unique pseudonymes
        });
      </script>
    </div>

    <div id="game">
      <canvas id="canvas"></canvas>
      <form id="answer" onsubmit="return false">
        <input type="text" id="answer_player"/>
        <input type="submit" value="Answer"/>
      </form>
      <div id="scores"></div>
      <script src="socket.io/socket.io.js"></script>
      <script>
        const pseudo = window.sessionStorage.pseudo;
        if (pseudo) {
          const socket = io();

          socket.emit('join game', pseudo);

          var answer = document.getElementById('answer');
          answer.addEventListener('submit', function(e) {
            var try_answer = document.getElementById('answer_player');
            socket.emit('try answer', {
              pseudo: pseudo,
              answer: try_answer.value
            });
            try_answer.value = "";
          });

          var image, solution, iteration;
          socket.on('image', function(msg) {
            image = msg.image;
            solution = msg.solution;
            iteration = msg.iteration;

            renderImage(image, iteration);
          });

          socket.on('scores', function(msg) {
            renderScores(msg);
          });
        }


      </script>
    </div>

    <script>
      var form = document.getElementById('pseudo');
      var game = document.getElementById('game');

      if (!window.sessionStorage.pseudo) {
          game.style.display = "none";
          form.style.display = "block";
      } else {
          game.style.display = "block";
          form.style.display = "none";
      }

    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
